/* .App {
  text-align: center;
  position: relative; /* Add position relative 
}

.center {
  display: flex;
  justify-content: center;
}

.gradient-background {
  position: relative;
  height: 100vh;
  background: linear-gradient(89deg, #122D94 0%, #C3E0FD 100%, #B9FDD5 80%);
  z-index: 1;
}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}